﻿## -*- coding: utf-8 -*-

<html>
<%def name="javascripts()"></%def>
<%def name="bodyload()"></%def>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
	<link rel="StyleSheet" href="${urls.build("css", dict(file='style.css'))|h}" type="text/css" />
	<link rel="icon" type="image/png" href="${urls.build("images", dict(file='site/favicon.png'))|h}" />
	<title></title>

    <script src="${urls.build('javascript', dict(file='jquery-1.10.2.js'))|h}"></script>
    <script>
        $(document).ready(function() {
            $(".show-hide-sidepanel-up-button").click(function() {
                $(this).parents('.sidebar-panel').find(".show-hide-sidepanel").slideUp("slow");
                $(this).hide();
                $(this).parents('.sidebar-panel').find('.show-hide-sidepanel-down-button').show();
            });
            $(".show-hide-sidepanel-down-button").click(function() {
                $(this).parents('.sidebar-panel').find(".show-hide-sidepanel").slideDown("slow");
                $(this).hide();
                $(this).parents('.sidebar-panel').find('.show-hide-sidepanel-up-button').show();
            });
        });
    </script>
    ${self.javascripts()}
</head>

<body ${self.bodyload()}>
<div id="body">
    <div id="header">
        <div id="top_menu">
            <div id="top_menu_left">
                <a href='${urls.build("general.index")|h}'>Home</a>
                % if current_user:
                    | <a href='${urls.build("case.view_all")|h}'>Cases</a>

                    % if current_user.is_worker():
                    | <a href='${urls.build("task.view_all")|h}'>Tasks</a> |
                    <a href='${urls.build("task.view_qas")|h}'>QAs</a> |
                    <a href='${urls.build("evidence.view_all")|h}'>Evidence</a>
                    % endif

                    % if check_perms("Report", 'view'):
                    | <a href='${urls.build("report.report")|h}'>Reports</a>
                    % endif

                    % if check_perms("Case", 'admin'):
                    | <a href='${urls.build("user.view_all")|h}'>Users</a>
                    | <a href='${urls.build("general.admin")|h}'>Administration</a>
                    % endif
                % endif
            </div>
            <div id="top_menu_right">
                % if current_user is not None:
                <a href='${urls.build("user.view", dict(user_id=current_user.id))|h}'>${current_user.fullname|h}</a> is logged in |
                % if current_user.is_worker():
                <a href='${urls.build("user.timesheet_default", dict(user_id=current_user.id))|h}'>Timesheet</a> |
                % endif
                <a href='${urls.build("general.logout")|h}'>Log out</a> |
                <a href='${urls.build("user.edit", dict(user_id=current_user.id))|h}'>Edit Profile</a>
                % else:
                <a href='${urls.build("general.login")|h}'>Login</a> |
                <a href='${urls.build("general.register")|h}'>Register</a>
                % endif
            </div>
        </div>

        <div id="logo_img"><img src="${logo|h}" width="450px" /></div>
        <div id="logo_text">Forensic Management Software</div>

        <div id="message_list">
        % if check_perms("Case", "admin") and len(error_message_website_wide) != 0:

                % for error_message in error_message_website_wide:
                <div class="error_messages">
                    <b>${error_message['title']}</b><br/>
                    ${error_message['text']}
                </div>
                % endfor
                % for help_message in admin_help_message_website_wide:
                <div class="help_messages">
                    <b>${help_message['title']}</b><br/>
                    ${help_message['text']}
                </div>
               % endfor
        % endif
        % if current_user is not None:
            % for help_message in help_message_website_wide:
                <div class="help_messages">
                    <b>${help_message['title']}</b><br/>
                    ${help_message['text']}
                </div>
            % endfor
        % endif
        </div>

    </div>

    <div id="breadcrumbs">
        % if breadcrumbs:
        % for i, crumb in enumerate(breadcrumbs):
            <a href="${crumb['path']}">${crumb['title']|h}</a>
            % if i != len(breadcrumbs) - 1:
                &raquo;
            % endif
        % endfor
        % endif
    </div>
    <div id="middle">

            ${self.body()}
    </div>
    <div style="clear:both"/>
    <div id="footer">
        <% from datetime import datetime %>
        <% this_year = datetime.now().strftime("%Y") %>
        <div id="footer_middle">Foreman - Forensic Management Software. Copyright 2014 - ${this_year|h}. <a href="https://bitbucket.org/lowmanio/foreman/issues/new">Support</a>
            | <a href="https://bitbucket.org/lowmanio/foreman/wiki/Home">Documentation</a>
            | <a href="mailto:admin@foreman-forensics.org">Contact</a> ||
        Foreman logo graphics made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a> by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> are licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>.</div>
    </div>
</div>
</body>
</html>
