﻿<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />
<%namespace file="/utils/format.html" name="formatting" />

<%def name="javascripts()" filter="trim">

</%def>


<div id="sidebar">
    ${sidebars.tasks_menu()}
</div>
<div id="mainbar">

    % if evidence.qr_code:
    <div class="qr_code">
        <img src="${urls.build('evidence_qr_code', dict(file=str(evidence.id) + '.png'))|h}" width="200px"/>
    </div>
    % endif

    <h1>Evidence ${evidence.reference|h}</h1>

    % if check_perms(evidence, 'edit'):
            <p><a href='${urls.build("evidence.edit", dict(evidence_id=evidence.id))|h}'>Edit Evidence</a>
    % endif

    % if check_perms(evidence, 'destroy'):
            <p><a href='${urls.build("evidence.destroy", dict(evidence_id=evidence.id))|h}'>Set Evidence Status to Destroyed</a>
    % endif

    % if evidence.case_id is not None:
        % if check_perms(evidence, 'dis-associate'):
            | <a href='${urls.build("evidence.disassociate", dict(case_id=evidence.case.id, evidence_id=evidence.id))|h}'>Remove Evidence from case</a></p>
        % else:
            </p>
        % endif
    % elif evidence.case_id is None:
        % if check_perms(evidence, 'dis-associate'):
            | <a href='${urls.build("evidence.associate", dict(evidence_id=evidence.id))|h}'>Associate evidence with a case</a>
        % endif
        % if check_perms(evidence, 'remove'):
            | <a href='${urls.build("evidence.remove", dict(evidence_id=evidence.id))|h}'>Remove evidence completely from Foreman</a></p>
        % else:
            </p>
        % endif
    % endif

    <h2>Details</h2>

    ${formatting.evidence_details(evidence)}

    % if check_perms(evidence, 'check-in-out'):
        <br />
        % if evidence.chain_of_custody_status.check_in == True:
        <p><a href='${urls.build("evidence.custody_out", dict(evidence_id=evidence.id))|h}'>Check out the evidence</a></p>
        % else:
        <p><a href='${urls.build("evidence.custody_in", dict(evidence_id=evidence.id))|h}'>Check in the evidence</a></p>
        % endif
    % endif


    <h2>Photographs</h2>


    % if check_perms(evidence, 'add_file'):
    <p><a href='${urls.build("evidence.add_photo", dict(evidence_id=evidence.id))|h}'>Add a photo</a></p>
    % endif

    <% count = 0 %>
    % for upload in evidence.evidence_photos:
        % if upload.deleted is False:
            <% count += 1 %>
            <a href="${urls.build("evidence.view_photo", dict(evidence_id=evidence.id, upload_id=upload.id))|h}">
                <img src="${urls.build("files", dict(file=upload.url_path))|h}" height="200px"/></a>
        % endif
    % endfor

    % if count == 0:
        <p>No uploaded photos.</p>
    % endif
</div>