﻿<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />

<%def name="javascripts()" filter="trim">

</%def>


<div id="sidebar">
    ${sidebars.tasks_menu()}
</div>
<div id="mainbar">
    <h1>${upload.task.task_name|h}: ${upload.file_title|h}</h1>

    % if upload.check_hash() is False:
        <div class="warningbox">
            <h1>Warning!</h1>
            <p>The file hash does not match the original file hash!</p>
            <p>Original hash: ${upload.file_hash|h}</p>
            <p>Current hash: ${upload.compute_hash()|h}</p>
        </div>
    % endif

    <p>Download file: <a href='${urls.build("files", dict(file=upload.url_path))}'>${upload.file_title|h}</a></p>

    <p>
    % if check_perms(upload.task, 'delete_file'):
        <a href='${urls.build("task.delete_upload", dict(upload_id=upload.id, task_id=upload.task.id,case_id=upload.task.case.id))|h}'>Delete Upload</a>
    % endif

    % if check_perms(upload.task, 'delete_file') and check_perms(upload.task, 'add_file'):
        |
    % endif

    % if check_perms(upload.task, 'add_file'):
        <a href='${urls.build("forensics.work", dict(task_id=upload.task.id, case_id=upload.task.case.id, active_tab=2))|h}'>Upload Another</a>
    % endif
    </p>

    <h2>Upload Details</h2>
    <table>
        <tr>
            <th>Case</th>
            <td>
                % if upload.task.case.private:
                <a class="highlight" href='${urls.build("case.view", dict(case_id=upload.task.case.id))|h}'>${upload.task.case.case_name|h}</a>
                % else:
                <a href='${urls.build("case.view", dict(case_id=upload.task.case.id))|h}'>${upload.task.case.case_name|h}</a>
                % endif
            </td>
        </tr>
        <tr>
            <th>Task</th>
            <td><a href='${urls.build("task.view", dict(case_id=upload.task.case.id, task_id=upload.task.id))|h}'>${upload.task.task_name|h}</a></td>
        </tr>
        <tr>
            <th>File title</th>
            <td>${upload.file_title|h}</td>
        </tr>
        <tr>
            <th>Date uploaded</th>
            <td>${upload.date|h}</td>
        </tr>
        <tr>
            <th>File hash</th>
            <td>
                % if upload.check_hash():
                <img src='${urls.build("images", dict(file="siteimages/icons/tick-icon.jpg"))|h}' />
                % else:
                <img src='${urls.build("images", dict(file="siteimages/icons/cross-icon.jpg"))|h}' />
                % endif
                ${upload.file_hash|h}
            </td>
        </tr>
        <tr>
            <th>Uploader</th>
            <td><a href='${urls.build("user.view", dict(user_id=upload.uploader.id))|h}'>${upload.uploader.fullname|h}</a></td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>${upload.file_note|h}</td>
        </tr>
    </table>

</div>