﻿<%inherit file="/base/base.html"/>
<%namespace file="/utils/sidebars.html" name="sidebars" />
<%namespace file="/utils/forms.html" name="forms" />

<%def name="javascripts()" filter="trim">
</%def>
<% from datetime import timedelta, datetime, date %>
<% from calendar import monthrange %>
<% today = datetime.now() %>

<%def name="timesheets(case_task, timesheets, timesheet_user_items)">

        <form method="post" action="${urls.build('user.timesheet', dict(user_id=user.id, week=start_day.strftime("%Y%m%d"), form=case_task))|h}">

        <table>
            <tr>
                <th></th>
                <th colspan="7" style="text-align: center">
                    <% last_week = start_day - timedelta(days=7) %>
                    <% next_week = start_day + timedelta(days=7) %>
                    <a title="Last week" href="${urls.build("user.timesheet", dict(user_id=user.id, week=last_week.strftime("%Y%m%d")))|h}"><img src="${urls.build("images", dict(file='siteimages/icons/arrow_left.png'))|h}" width="25px" align="left" alt="Last week" /></a>
                     ${start_day.isocalendar()[0]|h} Week ${start_day.isocalendar()[1]|h}
                    % if next_week <= today:
                        <a title="Next week" href="${urls.build("user.timesheet", dict(user_id=user.id, week=next_week.strftime("%Y%m%d")))|h}"><img src="${urls.build("images", dict(file='siteimages/icons/arrow_right.png'))|h}" width="25px" align="right" alt="Next week" /></a>
                    % endif
                </th>
            </tr>
            <tr>
                <th>${case_task.title()|}s</th>

                <% day_tracker = start_day %>
                % for i in range(0, 7):
                    <th width="150px">${day_tracker.strftime("%a %d %b")|h}</th>
                    <% day_tracker += timedelta(days=1) %>
                % endfor
            </tr>
             <% not_active = 0 %>
             % for case_counter, case in enumerate(timesheet_user_items):
                <% seventh_day = start_day + timedelta(days=6) %>
                % if case._active_before_start(seventh_day) and case._active_after_end(start_day):
                <tr>
                    % if case_task == "case":
                    <th><a href="${urls.build("case.view", dict(case_id=case.id))|h}">${case.name|h}</a></th>
                    % else:
                    <th><a href="${urls.build("task.view", dict(case_id=case.case.id, task_id=case.id))|h}">${case.name|h}</a></th>
                    % endif
                    ${forms.formTextField_Timesheet(case_task + "s-" + str(case_counter) + "." + case_task, hidden=True, value=case.id)}
                    <% day_tracker = start_day %>
                    % for i in range(0, 7):
                        % if case.active_user(day_tracker):
                            <td class="case">
                                <% ts = timesheets.get(day_tracker.strftime("%d%m%Y"), {}).get(case.id, None) %>
                                % if check_perms(user, "edit_timesheet"):
                                    ${forms.formTextField_Timesheet(case_task + "s-" + str(case_counter) + ".timesheet-" + str(i) + ".datetime", hidden=True, value=day_tracker.strftime("%d%m%Y"))}
                                    ${forms.formTextField_Timesheet(case_task + "s-" + str(case_counter) + ".timesheet-" + str(i) + ".value", value=ts)}
                                % else:
                                    ${ts if ts is not None else ""|h}
                                % endif
                            </td>
                        % else:
                            <td>&nbsp;</td>
                        % endif
                        <% day_tracker += timedelta(days=1) %>
                    % endfor
                </tr>
                % else:
                    <% not_active += 1 %>
                % endif
            % endfor
            % if not_active == len(timesheet_user_items):
                <tr><td colspan="8">No active ${case_task}s during this week.</td></tr>
            % endif
        </table>
        % if check_perms(user, "edit_timesheet"):
        <p style="clear:both; text-align:center"><input type="submit" value="Submit Timesheet" /></p>
        % endif
</%def>


<div id="sidebar">
    ${sidebars.user_menu()}
</div>

<div id="mainbar">
    % if current_user.id == user.id:
    <h1>My Timesheet</h1>
    % else:
    <h1>Timesheet for ${user.fullname|h}</h1>
    % endif


    % if user.is_case_manager():

        <h2>Case Timesheet</h2>

        % if len(timesheet_user_cases) > 0:
            % if check_perms(user, "edit_timesheet"):
        <p>Enter in the amount of hours done on the case for each day. Number of hours do not have to be whole numbers, e.g. 2.5 hours to mean 2 hours and 30 minutes. </p>
            % endif

        ${timesheets("case", case_timesheets, timesheet_user_cases)}

        % else:
            <p>
                % if user == current_user:
                    You have
                % else:
                    ${user.forename|h} has
                % endif
                not been assigned any cases. </p>
        % endif
    <div style="clear:both" />
    % endif

    % if user.is_examiner():
    <h2>Task Timesheet</h2>

        % if len(timesheet_user_tasks) > 0:
            % if check_perms(user, "edit_timesheet"):
        <p>Enter in the amount of hours done on the task for each day. Number of hours do not have to be whole numbers, e.g. 2.5 hours to mean 2 hours and 30 minutes. </p>
            % endif
        ${timesheets("task", task_timesheets, timesheet_user_tasks)}

        % else:
            <p>
                % if user == current_user:
                    You have
                % else:
                    ${user.forename|h} has
                % endif
                not been assigned any tasks.</p>
        % endif

    % endif
</div>

